<div ng-cloak>
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" >

      <rect ng-repeat="bar in $ctrl.specs track by $index"
        x="0" ng-attr-y="{{($ctrl.height + 5) * $index}}" fill="{{bar.color}}"
        ng-attr-width="{{bar.width.toString()}}" ng-attr-height="{{$ctrl.height}}"/>

      <line x1="0" y1="0" x2="0" y2="105" style="stroke: black; stroke-width:2px"/>
      <line x1="0" y1="105" x2="70" y2="105" style="stroke: black; stroke-width:2px"/>
    </svg>
  </span>
</div>
